<h1>Search result form</h1>

<% if @available_flights == [] %>
    <p>All Flights</p>

    <% @flights.each do |flight| %>
        <%= flight %>
    <% end %>
<% else %>
    <% @available_flights.each do |flight| %>
    <p>Results</p>
        <%= flight.id %>
    <% end %>
<% end %>